body {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

body div {
    background-color: rgba(0, 127, 255, 0.1);
    margin: 6px;
    padding: 6px;
}

#chat, #center, #right {
    display: flex;
    flex-flow: column nowrap;
}

#center {
    flex: 3 0px;
}

.flex {
    flex: 1 0px;
}

.bottom {
    flex: 0.25 0px;
}